<div class="container mt-5 mb-5" *ngIf="googleBookService.books?.length > 0">
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item" [class.disabled]="googleBookService.page === 1">
			  <a class="page-link" (click)="prevPage()">Previous</a>
			</li>
			<li class="page-item" [class.disabled]="googleBookService.page === googleBookService.totalPages">
			  <a class="page-link" (click)="nextPage()">Next</a>
			</li>
		</ul>
	</nav>
</div>